.bgColor{
	background:#4fc8bf;
	color:white;
}
.bgMarginColor{
	background:white;
	margin:1rem 1rem;
	padding-bottom:1rem;
	font-size:1.4rem;
	color:#8f918e;
	padding:.6rem .6rem;
	text-indent:1rem;
	padding-bottom:1rem;
	letter-spacing:1px;
	h3{
		margin:1rem 0;
		color:#4fc8bf;
		font-size:1.6rem;
	}
	
}