<ul class="tab">
	<li class="tabItem">
		<a href="#!/job" >
			<span class="icon-earth"></span><span class="icon-text">职位</span>
		</a>
	</li>
	<li class="tabItem" >
		<a href="#!/company" >
			<span class="icon-house"></span><span class="icon-text">公司</span>
		</a>
	</li>
	<li class="tabItem">
		<a href="#!/message" class="active">
			<span class="icon-xiaoxi"></span><span class="icon-text">信息</span>
		</a>
	</li>
	<li class="tabItem">
		<a href="#!/userInfo" >
			<span class="icon-vipuser"></span><span class="icon-text">我的</span>
		</a>
	</li>
</ul>