<section class="message">
	<div class="message-header">
		<a href=""><span class="chat">聊天</span></a><a href=""><span class="inter active">互动</span></a>
	</div>
	<div class="chatList">
		<ul class="clearfix">
			<li class="chatItem"><a href="">对我感兴趣</a></li>
			<li class="chatItem"><a href="">看过我</a></li>
			<li class="chatItem active"><a href="">新职位</a></li>
			<li class="underline"><a href=""></a></li>
		</ul>
	</div>
</section>

<ul class="message-lists">
	<li ng-repeat="message in $ctrl.messages" class="messItem clearfix">
		<a href="">
			<div class="messImg">
				<img ng-src="{{message.imgUrl}}" alt="{{message.companyName}}">
			</div>
			<div class="messInfo">
				<h3>{{message.companyName}} {{message.hrPos}}</h3>
				<time>{{message.time}}</time>
				<p>发布了<span class="text">{{message.position}}</span></p>
				<p><span class="icon-bag"></span>{{message.exp}}<span class="icon-benke-"></span>{{message.edu}}<span class="icon-jine"></span>{{message.pay}}</p>
			</div>
		</a>
	</li>
</ul>